mixin video(video)
  a.video-mixin(href=`/videos/${video.id}`)
    div.video-mixin__thumb(style=`background-image:url(${String(video.thumbnailUrl).replaceAll("\\", "/")}); background-size:cover; background-position:center;`)
    div.video-mixin__data
      div.video-mixin__avatar
        img(src=video.owner.avatarUrl, width="35px", height="35px")
      div 
        span.video-mixin__title #{ truncateText(video.title) }
        div.video-mixin__meta
          div 
            span.video-mixin__meta--owner-name #{ video.owner.name }
          div 
            span.video-mixin__meta--views 조회수 #{ video.meta.views } 회 • 
            span.video-mixin__meta--created-at #{ formatTimeAgo(video.createdAt) }
