mixin video(video)
  a.video-mixin(href=`/videos/${video.id}`)
    div.video-mixin__thumb(style=`background-image:url(/${String(video.thumbnailUrl).replaceAll("\\", "/")}); background-size:cover; background-position:center;`)
    div.video-mixin__data
      span.video-mixin__title=video.title
      div.video-mixin__meta
        span #{ video.owner.name } • 
        span #{ video.meta.views } 회