extends /layout/base

block content
  video(src=`/${video.fileUrl}`, controls) 
  div 
    p=video.description
    small=video.createdAt
  a(href=`/videos/${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`/videos/${video.id}/delete`) Delete Video &rarr;