extends /layout/base

block content
  div#videoContainer(data-id=video._id)
    video(src=`/${video.videoUrl}`) 
    div#videoControls.videoControls
      div.videoControls__play
        span#play.videoControls__playBtn
          i.fas.fa-play
        div.videoControls__time
          span#currentTime 00:00
          span  / 
          span#totalTime 00:00
      input#timeline.videoControls__timeline(type="range", value="0", step="1", min="0")
      div.videoControls__volume
        input#volume(type="range", value="0.5", step="0.1", min="0", max="1")
        span#mute 
          i.fas.fa-volume-up
      div 
        span#fullScreen
          i.fas.fa-expand

  div.video__data
    p.video__title=video.title
    small.video__owner Uploaded by 
      a(href=`/users/${video.owner._id}`)=video.owner.name
    small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
    if String(video.owner._id) === String(loggedInUser._id) 
      a(href=`/videos/${video.id}/edit`) Edit Video &rarr;
      br
      a(href=`/videos/${video.id}/delete`) Delete Video &rarr;

  if loggedIn
    div.video__comments
      form#commentForm.video__comment-form
        textarea(cols="30", rows="10", placeholder="Add a public comment")
        button Add Comment

block scripts 
  script(src="/assets/js/videoPlayer.js") 
  script(src="/assets/js/commentSection.js") 